{% extends 'base.html.twig' %}

{% block body %}
    {% embed 'macros/_section.html.twig'  %}
        {% block content %}
            <div id="change-password-container"
                 data-controller="ajax-form"
                 data-action="submit->ajax-form#submit">
                {# on charge le fragment une 1re fois #}
                {% include 'member/_change_password_form.html.twig' with { form: form } %}
            </div>
        {% endblock %}
    {% endembed %}
{% endblock %}
