{% extends 'base.html.twig' %}

{% block body %}
    <div id="change-password-container"
         data-controller="ajax-form"
         data-action="submit->ajax-form#submit">
        {# on charge le fragment une 1re fois #}
        {% include 'member/_change_password_form.html.twig' with { form: form } %}
    </div>
{% endblock %}
