<footer class="bg-brand mt-12">
    <div class="max-w-6xl mx-auto px-5 py-10 grid grid-cols-1 gap-8
            divide-y-3 divide-1
            md:divide-x-3 md:divide-1 md:divide-y-0 md:grid-cols-3
            justify-center items-center text-center">
        <div class="h-full p-2">
            <h4 class="font-bold mb-3">Liens</h4>
            <div class="flex flex-wrap gap-4 justify-center">
                <a href="{{ path('app_bylaws') }}" class="font-semibold hover:underline">Mentions légales</a>
                 <a href="{# path('app_contact') #}" class="font-semibold hover:underline">Contact</a>
                 <a href="{# path('app_partners') #}" class="font-semibold hover:underline">Partenaires</a>
            </div>
        </div>

{#        <hr class="md:hidden">#}

        <div class="h-full p-2">
            <h4 class="font-bold mb-3">Réseaux</h4>
            <div class="flex items-center gap-3 justify-center">
                <span class="w-10 h-10 rounded-full bg-black/10 grid place-items-center font-black hover:cursor-pointer hover:transition hover:text-white hover:bg-accent hover:scale-120">f</span>
                <span class="w-10 h-10 rounded-full bg-black/10 grid place-items-center font-black hover:cursor-pointer hover:transition hover:text-white hover:bg-accent hover:scale-120">in</span>
                <span class="w-10 h-10 rounded-full bg-black/10 grid place-items-center font-black hover:cursor-pointer hover:transition hover:text-white hover:bg-accent hover:scale-120">ig</span>
            </div>
        </div>

{#        <hr class="md:hidden">#}

        <div class="h-full">
            <h4 class="font-bold mb-3">À propos</h4>
            <p>Association loi 1901 — Picardie</p>
        </div>
    </div>
    <div class="text-center py-4 opacity-80">© Les Foulées Picardes — {{ "now"|date("Y") }}</div>
</footer>
