<section class="lg:grid lg:h-screen lg:place-content-center">

    <div
        class="grid grid-col-1 justify-center mx-auto w-screen max-w-screen-xl px-4 py-16 sm:px-6 sm:py-24 lg:grid lg:grid-cols-2 lg:items-center lg:gap-4 lg:px-8 lg:py-16"
    >
        <div class="max-w-prose text-left ">
            <img src="/images_svg/logo_noir_test_2.svg" alt="Logo des foulées picardes.">
            <h1 class=" text-4xl font-bold text-gray-900 sm:text-5xl">
                Association <strong class="text-accent">pour la promotion et le développement</strong> de la course à pied.
            </h1>

            <p class="mt-4 text-base text-pretty text-gray-700 sm:text-lg/relaxed">
                Ouverte à toutes et à tous, quel que soit l’âge ou le niveau, elle souhaite rassembler des passionnés de course, du coureur débutant au sportif confirmé, dans un esprit de convivialité, de partage et de dépassement de soi.
            </p>

            <div class="mt-4 flex gap-4 sm:mt-6">
                <a
                    class="inline-block rounded border btn-primary px-5 py-3 font-medium text-white shadow-sm transition-colors hover:bg-accent-700"
                    href="#"
                >
                    S'inscrire
                </a>

                <a
                    class="inline-block rounded border btn-secondary px-5 py-3 font-medium text-gray-700 shadow-sm transition-colors hover:bg-gray-50 hover:text-gray-900"
                    href="#"
                >
                    Détails
                </a>
            </div>
        </div>

        <div id="card" class="relative w-72 h-72 mx-auto hidden lg:block">
            {% include 'main/_hero_image_race.html.twig' %}
        </div>


    </div>
</section>
