{% extends 'base.html.twig' %}

{% block title %}Hello FileController!{% endblock %}

{% block body %}

    <div class="example-wrapper">
        <h1>Uploader un fichier</h1>
        {{ form_start(form, {'attr': {'enctype': 'multipart/form-data', 'data-turbo': 'false'}}) }}
        {{ form_row(form._token) }}
        {{ form_row(form.file) }}
        <button class="btn btn-primary">Envoyer</button>
        {{ form_end(form) }}

    </div>
{% endblock %}
