<section class="flex flex-col w-full items-center p-4 gap-4">
    <div class="section-card max-w-sm md:max-w-lg shadow-lg">
        <div class="w-full bg-sand rounded-lg shadow-lg overflow-hidden p-4">
            {% block content %}
            {% endblock %}
        </div>
    </div>
</section>
