{% extends 'base.html.twig' %}

{% block title %}Demande d'adhésion{% endblock %}

{% block body %}
    {% embed 'macros/_section.html.twig' %}
        {% block content %}
            <h1>Votre email a déjà été vérifier.</h1>

            <a href="{{ path('app_index') }}">Retour a l'accueil</a>
        {% endblock %}
    {% endembed %}
{% endblock %}

