{% extends 'base.html.twig' %}

{% block title %}Demande d'adhésion{% endblock %}

{% block body %}
    {% embed 'macros/_section.html.twig' %}
        {% block content %}
            <h1>Impossible de valider votre email</h1>

            <p>Une erreur est survenue lors de la validation de votre email.</p>

            <a href="{{ path('app_index') }}">Retour a l'accueil</a>
        {% endblock %}
    {% endembed %}
{% endblock %}
