{% extends 'base.html.twig' %}

{% import 'macros/_section.html.twig' as ui %}

{% block title %}Demande d'adhésion{% endblock %}

{% block body %}
    {% embed 'macros/_section.html.twig' %}
        {% block content %}
            <div class="flex flex-col gap-6 text-sand">
                <h1 class="text-2xl text-center font-bold">Les Foulées Picardes</h1>
                <h2 class="text-md text-justify">Merci de remplir ce formulaire pour toute demande d'adhésion à l'association.</h2>
                <h3 class="text-sm font-bold">*Tous les champs sont obligatoires.</h3>

                {{ form(form) }}
            </div>
        {% endblock %}
    {% endembed %}
{% endblock %}
