{% extends 'base.html.twig' %}

{% block title %}Demande d'adhésion{% endblock %}

{% block body %}
<section class="flex flex-col w-full items-center p-4 gap-4">
    <div class="section-card max-w-sm md:max-w-lg">
        <h2 class="text-xl font-bold">Bienvenu, voici la demande d'adhésion ! ✅</h2>

        <div class="">
            {{ form(form) }}
        </div>
    </div>
</section>
{% endblock %}
