{% extends 'base.html.twig' %}

{% block title %}Demande d'adhésion{% endblock %}

{% block body %}
    {% embed 'macros/_section.html.twig' %}
        {% block content %}
            <h1>Requête envoyer !</h1>

            <p>Un membre du bureau validera votre inscription dans les plus brefs délais.</p>

            <button class="btn btn-secondary"><a href="{{ path('app_index') }}"><- Retour a l'accueil</a></button>
        {% endblock %}
    {% endembed %}
</div>
{% endblock %}
