{% extends 'base.html.twig' %}

{% import 'macros/_section.html.twig' as ui %}

{% block title %}Demande d'adhésion{% endblock %}

{% block body %}
    {% embed 'macros/_section.html.twig' %}
        {% block content %}
            <h2 class="text-xl font-bold">Bienvenu, voici la demande d'adhésion ! ✅</h2>

            <div class="">
                {{ form(form) }}
            </div>
        {% endblock %}
    {% endembed %}
{% endblock %}
